@import "Primitives/Common.scss";

.TimeInput {
    box-sizing: border-box;
    height: 36px;
    line-height: 34px;
    border: 1px solid ($base-secondary-color + #666666);
    padding: 0 8px;
    font-family: inherit;
    color: $base-secondary-color;

    &:focus {
        outline: none;
    }

    &:hover,
    &:focus {
        border: 1px solid $base-alpha-color;
    }
}
