@import "Primitives/Common.scss";
@import "../Common.scss";

.HeadComponent {
    overflow-x: hidden;

    > table {
        border-spacing: 0;
        border-collapse: collapse;
        
        .HeaderCell {
            border-bottom: $component-border;
            box-sizing: border-box;
            position: relative;
            margin: 0;
            padding: 0 $cell-padding;
            height: $component-height;
            font-weight: bold;
            color: #555;

            &.IsAscending {
                color: $base-alpha-color;

                &:after {
                    content: "▼";
                    position: absolute;
                    top: 11px;
                    right: 10px;
                    font-size: 10px;
                }
            }

            &.IsDescending {
                color: $base-alpha-color;
                
                &:after {
                    content: "▲";
                    font-weight: bold;
                    position: absolute;
                    top: 11px;
                    right: 10px;
                    font-size: 10px;
                }
            }

            > i {
                font-style: normal;
                cursor: pointer;
            }

            > .Resizer {
                position: absolute;
                top: 0px;
                right: 0px;
                display: block;
                width: 6px;
                height: 100%;
                cursor: e-resize;

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: calc(50% - 1px);
                    width: 1px;
                    height: 100%;
                    background-color: $base-secondary-color;
                }

                &:hover:after {
                    background-color: $base-alpha-color;
                }
            }
        }
    }
}