@import "../Common.scss";

.BodyComponent {
    overflow-y: scroll;

    > table {
        width: 100%;
        border-spacing: 0;
    }

    .Cell {
        box-sizing: border-box;
        padding: 0 $cell-padding;
    }
}