@import "../../Base.scss";

.RadioButton {
    background-color: $base-primary-color;
    border: 1px solid ($base-secondary-color + #666666);
    cursor: pointer;
    width: $base-square-size;
    height: $base-square-size;
    margin: 5px;
    outline: 0;
    position: relative;
    overflow: hidden;
    vertical-align: bottom;
    border-radius: 50%;

    &:hover {
        border-color: $base-alpha-color;
    }

    &.Checked {
        &:after {
            content: "";
            width: $base-square-size - 10px;
            height: $base-square-size - 10px;
            border: 1px solid ($base-secondary-color + #666666);
            background-color: ($base-secondary-color + #666666);
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: (($base-square-size - 10px) / -2) 0 0
                (($base-square-size - 10px) / -2);
            box-sizing: border-box;
        }
    }
}
