@import "Primitives/Common.scss";

.TextInput {
    box-sizing: border-box;
    height: $component-height;
    border: $component-border;
    line-height: $component-height - 2px;
    padding: 0 $component-padding;
    font-size: $component-font-size;
    font-family: inherit;
    color: $base-secondary-color;

    &:focus {
        outline: none;
    }

    &:hover,
    &:focus {
        border: 1px solid $base-alpha-color;
    }
}
