.Examples {
    margin: 0 auto;
    width: 1024px;

    > section {
        display: flex;
        flex-wrap: wrap;
    
        > header {
            width: 100%;
        }

        > div {
            margin: 10px 0 10px 10px;
        }
    }
}