@import "../../Base.scss";

/* default style */

$button-default-color: $base-secondary-color;
$button-default-border-color: $base-secondary-color + #666666;
$button-default-background-color: $base-primary-color;

$button-default-hover-color: $base-primary-color;
$button-default-hover-border-color: $base-secondary-color + #666666;
$button-default-hover-background-color: $base-secondary-color + #666666;

/* primary style */

$button-primary-color: $base-primary-color;
$button-primary-border-color: $base-alpha-color;
$button-primary-background-color: $base-alpha-color;

$button-primary-hover-color: $base-alpha-color;
$button-primary-hover-border-color: $base-alpha-color;
$button-primary-hover-background-color: $base-primary-color;

/* danger style */

$button-danger-color: $base-primary-color;
$button-danger-border-color: $base-beta-color;
$button-danger-background-color: $base-beta-color;

$button-danger-hover-color: $base-beta-color;
$button-danger-hover-border-color: $base-beta-color;
$button-danger-hover-background-color: $base-primary-color;

/* warning style */

$button-warning-color: $base-primary-color;
$button-warning-border-color: $base-gamma-color;
$button-warning-background-color: $base-gamma-color;

$button-warning-hover-color: $base-gamma-color;
$button-warning-hover-border-color: $base-gamma-color;
$button-warning-hover-background-color: $base-primary-color;

.Button {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 $base-horizontal-padding;
    border: 1px solid transparent;
    cursor: pointer;
    height: $base-line-height;
    line-height: $base-line-height - 2px;
    overflow: hidden;
    font-family: inherit;

    &:focus {
        outline: 0;
    }

    &.Disabled {
        cursor: not-allowed;
    }

    &.Default {
        color: $button-default-color;
        border-color: $button-default-border-color;
        background-color: $button-default-background-color;

        &:hover {
            color: $button-default-hover-color;
            border-color: $button-default-hover-border-color;
            background-color: $button-default-hover-background-color;
        }
    }

    &.Primary {
        color: $button-primary-color;
        border-color: $button-primary-border-color;
        background-color: $button-primary-background-color;

        &:hover {
            color: $button-primary-hover-color;
            border-color: $button-primary-hover-border-color;
            background-color: $button-primary-hover-background-color;
        }
    }

    &.Danger {
        color: $button-danger-color;
        border-color: $button-danger-border-color;
        background-color: $button-danger-background-color;

        &:hover {
            color: $button-danger-hover-color;
            border-color: $button-danger-hover-border-color;
            background-color: $button-danger-hover-background-color;
        }
    }

    &.Warning {
        color: $button-warning-color;
        border-color: $button-warning-border-color;
        background-color: $button-warning-background-color;

        &:hover {
            color: $button-warning-hover-color;
            border-color: $button-warning-hover-border-color;
            background-color: $button-warning-hover-background-color;
        }
    }
}
