$base-line-height: 36px;
$base-horizontal-padding: 18px;
$base-square-size: $base-line-height - 10px;

$base-primary-color: #ffffff;
$base-secondary-color: #000000;
$base-alpha-color: #2980B9;
$base-beta-color: #FF5B5B;
$base-gamma-color: #FBA300;