$base-line-height: 36px;
$base-horizontal-padding: 18px;
$base-square-size: $base-line-height - 10px;

$base-primary-color: #ffffff;
$base-secondary-color: #000000;
$base-alpha-color: #2980b9;
$base-beta-color: #ff5b5b;
$base-gamma-color: #fba300;

// component //

$component-background: $base-primary-color;
$component-height: 36px;
$component-padding: 8px;
$component-border: 1px solid ($base-secondary-color + #666666);
$component-border-hover: 1px solid $base-alpha-color;
$component-font-size: 13px;
